<div class="stud_edit">
<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student ,class: "card-link"%> |
<%= link_to 'Back', students_path ,class: "card-link"%>
</div>